header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

h1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-weight: bolder;
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.timer {
  color: firebrick;
}
.timer p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.highscores p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: firebrick;
}

.intro {
  padding-top: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.intro p {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 0.5%;
  font-size: 18px;
}

.startButtonSec {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.styleStartbtn {
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 750;
}
.questionSec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 700;
}

.questions-option {
  margin: 0.15rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}
